#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.logo {
  height: 100px;
  padding: 20px;
}
.logo:hover {
  opacity: 0.8;
}
.card {
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  background-color: #fff;
}
.read-the-docs {
  color: gray;
  font-size: 14px;
}
